<template>
  <div  v-show="showCredits" id="credits" class="fixed top-0 left-0 z-50 flex items-center content-center justify-center w-screen h-screen align-middle">
    <div id="credits-text" class="absolute z-30 w-4/5 bg-white border-2 md:w-3/5 lg:w-3/5 xl:max-w-screen-md border-current p-14 dark:bg-gray-900">
      <h1 class="mb-4 text-5xl font-bold leading-normal">{{$t("credits.title")}}</h1>
      <p class="m-3">
        <span class="italic font-bold">do-it.mp3</span>: {{$t("credits.do_it")}} <a target="_blank" class="underline" href="http://labeoufronkkoturner.com/projects/introductions/">{{$t("credits.link_label")}}</a> 
      </p>
      <p class="m-3">
        <span class="italic font-bold">dong.mp3</span>: {{$t("credits.dong")}} <a target="_blank" class="underline" href="https://freesound.org/people/Aiwha/sounds/196106/">{{$t("credits.link_label")}}</a> 
      </p>
      <button v-on:click="hide" class="w-32 py-2 mt-10 text-lg font-bold uppercase bg-green-300 outline-none appearance-none dark:bg-green-400 dark:text-gray-900 hover:bg-green-200 dark:hover:bg-green-300 rounded-xl">
        {{$t("credits.close")}}
      </button>
    </div>
    <div id="credits-overlay" class="w-full h-full bg-white dark:bg-gray-900 opacity-70">
    </div>
  </div>
</template>

<script lang="ts">
import {  defineComponent } from 'vue'
export default defineComponent({
  name: 'Credits',
  data(){
    return {
      showCredits: false,
    }
  },
  methods: {
    show(){
      this.showCredits=true;
    },
    hide(){
      this.showCredits=false;
    }
  }
})
</script>
