<template>
  <div id="dark-theme" class="flex flex-grow-0 flex-shrink-0">
    <Sun class="self-center w-6 mr-1 stroke-current dark:text-gray-600"/>
    <label id="dark-mode-slider" class="self-center inline-block switch">
      <input type="checkbox" v-model="darkModeEnabled" v-on:click="toggleDarkMode">
      <span class="slider round"></span>
    </label>
    <Moon class="self-center w-6 mx-1 text-gray-300 stroke-current dark:text-gray-50"/>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Moon from './icons/Moon.vue'
import Sun from './icons/Sun.vue'


export default defineComponent({
  name: 'DarkModeSwitch',
  components: {
    Moon,
    Sun,
  },
  data() {
    return{
      darkModeEnabled: document.documentElement.classList.contains('dark')
    }
  },
  methods: {
    toggleDarkMode() {
      if (this.darkModeEnabled) {
        document.documentElement.classList.remove('dark')
      } else {
        document.documentElement.classList.add('dark')
      }
    }             
  }
})
</script>

<style lang="sass">
// DARK MODE SLIDER
/* The switch - the box around the slider */
.switch 
  position: relative
  display: inline-block
  width: 54px
  height: 29px


/* Hide default HTML checkbox */
.switch input 
  opacity: 0
  width: 0
  height: 0


/* The slider */
.slider 
  position: absolute
  cursor: pointer
  top: 0
  left: 0
  right: 0
  bottom: 0
  @apply bg-gray-300
  transition: .2s


.slider:before 
  position: absolute
  content: ""
  height: 22px
  width: 22px
  left: 5px
  bottom: 4px
  @apply bg-white
  transition: .2s


input:checked + .slider 
  @apply bg-green-400


input:checked + .slider:before 
  transform: translateX(22px)


/* Rounded sliders */
.slider.round 
  border-radius: 29px


.slider.round:before 
  border-radius: 50%
</style>
