<template>
  <div id="select-language" class="flex flex-col h-10 pt-1 align-middle">
    <div class="flex">
      <Globe class="self-center w-6 m-1 text-gray-300 stroke-current dark:text-gray-600"/>
      <button v-on:click="toggleList" class="flex align-middle hover:bg-gray-100 dark:hover:bg-gray-600">
        <span class="self-center inline-block uppercase">{{$i18n.locale}}</span>
        <ChevronDown class="self-center w-6 ml-1 text-gray-300 stroke-current dark:text-gray-600"/>
      </button>
    </div>
    <div v-show="showSelection" class="pt-2">
      <div class="w-full" role="menu">
        <div id="language-list" class="py-2 bg-white border-2 border-gray-900 dark:border-gray-300 dark:bg-gray-900 center">
          <a v-for="locale in $i18n.availableLocales" v-bind:key="`locale-${locale}`" v-on:click="selectLanguage(locale)"  class="block leading-loose text-center uppercase cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-600">{{locale}}</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent} from 'vue'
import Globe  from './icons/Globe.vue'
import ChevronDown  from './icons/ChevronDown.vue'

export default defineComponent({
  name: 'LanguageSelector',
  components: {
    Globe,
    ChevronDown,
  },
  data() {
    return {
      showSelection: false,
    }
  },
  methods: {
    toggleList() {
      this.showSelection = !this.showSelection
    },
    selectLanguage(locale:string) {
      this.$i18n.locale = locale
      this.toggleList()
    }
  }
})
</script>

<style lang="sass">
// LANGUAGE SELECTOR DROPDOWN
/* .dropdown */
/*   display: inline-flex */
/*   /1* position: relative *1/ */
/*   vertical-align: top */

/* #language-dropdown-wrapper */
/*   /1* left: 0px *1/ */
/*   /1* position: absolute *1/ */
/*   top: 100% */
/*   z-index: 1 */

/* .dropdown-item */
/*   display: block */
/*   /1* width: 100% *1/ */
/*   white-space: nowrap */
/*   line-height: 1.5 */
/*   /1* position: relative *1/ */
</style>
