<template>
  <div class="flex">
    <p class="text-5xl font-bold leading-normal">{{formatTime(timeLeft)}}</p>
    <audio id="do-it" class="invisible w-0 h-0" :src="sound.do_it"></audio>
    <audio id="dong" class="invisible w-0 h-0" :src="sound.dong"></audio>
  </div>
</template>

<script lang="ts">
import { defineComponent} from 'vue'
import do_it from '../assets/sound/do-it.mp3'
import dong from '../assets/sound/dong.mp3'

export default defineComponent({
  name: 'TimerCircle',
  props: {
    time: {
      required: true,
      type: Number,
    },
  },
  data() {
    return {
      fullCycle: this.time,
      timeLeft: this.time,
      selectedTuneId: window.selectedTune,
      intervalId: 0,
      sound: {
        do_it,
        dong,
      }
    }
  },
  methods: {
    updateTimer() {
      if (this.timeLeft > 1000) {
        this.timeLeft = this.timeLeft-1000
      } else {
        this.playAudio()
        this.timeLeft = this.fullCycle
      }
    },
    start() {
      const duration = 1000;
      if ( this.timeLeft === this.fullCycle ) {
        this.playAudio()
      }
      if (this.timeLeft > 1000) {
        this.intervalId = setInterval(this.updateTimer, duration)
      }
    },
    pause() {
      clearInterval(this.intervalId)
    },
    reset() {
      this.pauseAudio()
      clearInterval(this.intervalId)
      this.timeLeft = this.fullCycle
    },
    formatTime(currentTime:number) {
      const hours = 0;
      const minutes = Math.floor(currentTime/1000/60);
      const seconds = (currentTime-(minutes*1000*60))/1000;
      function t(s:number){
        return String(s).length == 1 ? "0" + s : s;
      }
      return `${t(hours)}:${t(minutes)}:${t(seconds)}`
    },
    playAudio() {
      const a = <HTMLAudioElement>document.querySelector(`#${window.selectedTune}`);
      if (a !== null ) {
        a.currentTime = 0;
        a.play();
      }
    },
    pauseAudio() {
      const a = <HTMLAudioElement>document.querySelector(`#${window.selectedTune}`);
      if (a !== null ) {
        a.pause();
      }
    },
  },
})
</script>

<style lang="sass">
</style>
