<template>
  <div class="flex flex-col h-10 align-middle">
    <div class="flex justify-center">
      <MusicNotes class="self-center w-6 h-6 mr-2 text-gray-300 stroke-current dark:text-gray-600"/>
      <button v-on:click="toggleList" class="flex align-middle hover:bg-gray-100 dark:hover:bg-gray-600">
        <span class="self-center inline-block">{{selectedTune}}</span>
        <ChevronDown class="self-center w-6 ml-1 text-gray-300 stroke-current dark:text-gray-600"/>
      </button>
    </div>
    <div v-show="showSelection" class="pt-2">
      <div class="w-40" role="menu">
        <div class="py-2 bg-white border-2 border-gray-900 dark:bg-gray-900 dark:border-gray-300 center">
          <a v-for="tune in tunes" v-bind:key="tune" v-on:click="selectTune(tune)" class="block leading-loose text-center cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-600">{{tune}}</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import ChevronDown  from './icons/ChevronDown.vue'
import MusicNotes from './icons/MusicNotes.vue'

declare global {
  interface Window {availableTunes: any; selectedTune: any} // TODO: Specify types
}

export default defineComponent({
  name: 'TuneSelector',
  components: {
    MusicNotes,
    ChevronDown,
  },
  data() {
    const availableTunes = ["do-it.mp3", "dong.mp3"]
    return {
      selectedTune: availableTunes[0],
      showSelection: false,
      tunes: availableTunes,
    }
  },
  methods: {
    toggleList() {
      this.showSelection = !this.showSelection
    },
    selectTune(tune:string) {
      this.selectedTune= tune
      window.selectedTune = this.selectedTune.slice(0, -4)
      this.toggleList()
    }
  },
  mounted() {
    window.availableTunes = this.tunes
    window.selectedTune = this.selectedTune.slice(0,-4)
  }
})
</script>
  
