<template>
  <div v-if="volumeControlSupported" class="flex flex-grow-0 flex-shrink-0 w-18">
    <VolumeDown class="self-center w-6 h-6 text-gray-300 stroke-current dark:text-gray-600"/>
    <div class="relative flex">
      <input v-model="volumeLevel" type="range" step="20" class="z-30 self-center h-0 outline-none appearance-none">
      <div class="absolute flex items-stretch self-center w-full h-1 px-3">
        <div class="self-start w-3 h-full bg-gray-900 dark:bg-gray-50" :style="{width: volumeLevel + '%'}"></div>
        <div class="z-0 flex-1 h-full bg-gray-300 dark:bg-gray-600"></div>
      </div>
    </div>
    <VolumeUp class="self-center w-6 h-6 ml-3 text-gray-300 dark:text-gray-600"/>
  </div>
</template>

<script lang="ts">
import { defineComponent} from 'vue'
import VolumeDown  from './icons/VolumeDown.vue'
import VolumeMute  from './icons/VolumeMute.vue'
import VolumeUp  from './icons/VolumeUp.vue'

export default defineComponent({
  name: 'LanguageSelector',
  components: {
    VolumeDown,
    VolumeMute,
    VolumeUp,
  },
  data() {
    return {
      volumeLevel: 60,
    }
  },
  computed: {
    volumeControlSupported: function() {
      const userAgent = window.navigator.userAgent;
      if (userAgent.match(/iPad/i) || userAgent.match(/iPhone/i) || userAgent.match(/Android/i)) {
        return false;
      } else {
        return true;
      }
    }
  },
  watch: {
    volumeLevel: function () {
      document.querySelectorAll("audio").forEach(a => a.volume = this.volumeLevel/100)
    }
  },
  beforeCreate() {
  },
  mounted() {
    document.querySelectorAll("audio").forEach(a => a.volume = this.volumeLevel/100)
  }
})
</script>

<style lang="sass">
input[type="range"]  

  &::-moz-range-thumb 
    -webkit-appearance: none
    appearance: none
    width: 20px
    height: 20px
    border-radius: 50%
    cursor: pointer
    border-width: 0px
    @apply bg-gray-800

  .dark &::-moz-range-thumb 
      @apply bg-gray-50

  &::-webkit-slider-thumb
    -webkit-appearance: none
    appearance: none
    width: 20px
    height: 20px
    border-radius: 50%
    cursor: pointer
    border-width: 0px
    @apply bg-gray-800
  
.dark input[type="range"]::-webkit-slider-thumb 
  @apply bg-gray-50

</style>
