<template>
  <div class="flex flex-col h-full">
    <Credits ref="credits"/>
    <div id="menubar" class="sticky top-0 z-30 flex justify-between h-12 px-4 pt-1 mb-2">
      <DarkModeSwitch  />
      <LanguageSelector />
    </div>
    <div class="flex flex-col h-full">
      <div v-show="!showTimer" class="h-full">
        <div class="flex flex-col items-center justify-center h-2/3">
          <p>{{$t("timeDesc")}}</p>
          <p class="text-5xl font-bold leading-normal">5 {{$t("timeUnit")}}</p>
          <button v-on:click="startTimer" class="w-32 py-2 mt-4 text-lg font-bold uppercase bg-green-300 outline-none appearance-none dark:bg-green-400 dark:text-gray-900 hover:bg-green-200 dark:hover:bg-green-300 rounded-xl">{{$t("btn_START")}}</button>
        </div>
        <div class="flex flex-col items-center">
          <VolumeLevel class="mb-7"/>
          <TuneSelector />
        </div>
      </div>
      <div v-show="showTimer" class="flex flex-col items-center justify-center h-full">
        <TimerCircle :time="time" ref="timer"/>
        <button v-on:click="pauseResume" class="block w-32 py-2 mt-4 text-lg font-bold uppercase border-2 outline-none appearance-none border-current hover:text-green-400 rounded-xl">{{timerPaused ? $t("btn_RESUME") : $t("btn_PAUSE")}}</button>
        <button v-on:click="resetTimer" class="block w-32 py-2 mt-4 text-lg font-bold uppercase bg-red-300 outline-none appearance-none dark:bg-red-400 dark:text-gray-900 hover:bg-red-500 dark:hover:bg-red-600 rounded-xl">{{$t("btn_RESET")}}</button>
      </div>
      <footer class="px-6 mb-3 text-sm text-center text-gray-400 dark:text-gray-500">
        <p>{{$t("footer_desc")}}</p>
        <a v-on:click="showCredits" class="underline cursor-pointer">{{$t("footer_sound_credits")}}</a>
      </footer>
    </div>
  </div>
</template>

<script lang="js">
import { defineComponent } from 'vue'
import Credits from './components/Credits.vue'
import DarkModeSwitch from './components/DarkModeSwitch.vue'
import LanguageSelector from './components/LanguageSelector.vue'
import TimerCircle from './components/TimerCircle.vue'
import TuneSelector from './components/TuneSelector.vue'
import VolumeLevel from './components/VolumeLevel.vue'

export default defineComponent({
  name: 'App',
  components: {
    Credits,
    DarkModeSwitch,
    LanguageSelector,
    TimerCircle,
    TuneSelector,
    VolumeLevel,
  },
  data() {
    return {
      time: 5*60*1000,
      showTimer: false,
      timerPaused: false,
    }
  },
  methods: {
    startTimer() {
      this.showTimer = true; 
      this.$refs.timer.start(); //TODO: make this work with Typescript
      this.timerPaused = false;
    },
    pauseResume() {
      if (this.timerPaused) {
        this.$refs.timer.start(); //TODO: make this work with Typescript
        this.timerPaused = false;
      } else {
        this.$refs.timer.pause();
        this.timerPaused = true;
      }
    },
    resetTimer() {
      this.showTimer = false; 
      this.$refs.timer.reset();
      this.timerPaused = false;
    },
    showCredits() {
      this.$refs.credits.show();
    }
  },
  beforeCreate() {
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      document.documentElement.classList.add('dark')
    } else {
      document.documentElement.classList.remove('dark')
    }
  },
})
</script>
